<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<script id="comments_t" type="text/template">

    <p class="date"><%=date%></p>

    <p class="title">Имя:</p>
    <p><%= name %></p>

    <p class="title">Тема:</p>
    <p><%= title %></p>

    <p class="title">Комментарий</p>
    <p><%= text %></p>
</script>

<script data-main="/js/app.js" src="/js/lib/require.js"></script>



<div id="comments" class="container">
    <div class="row">
        <div class="col-md-12">

            <h1><%= title %></h1>


            <div class="comments">

            </div>





            <a class="addcomment">Добавить новый комментарий</a>


        </div>
    </div>
</div>


<form id="send" class="form-horizontal" method="post" action="/add">
    <div class="control-group">
        <label for="name">Ваше имя:</label>
        <input type="text" name="name" id="name">
        <div class="error bg-danger"></div>
    </div>

    <div class="control-group">
        <label for="title">Тема:</label>
        <input type="text" name="title" id="title">
        <div class="error bg-danger"></div>
    </div>

    <div class="control-group">
        <label for="text">Комментарий</label>
        <input type="text" name="text" id="text">
        <div class="error bg-danger"></div>
    </div>


    <input class="btn btn-primary" type="submit">
</form>



</body>
</html>